@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'hoves';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/TTHovesRegular.otf) format('opentype');
  }
  @font-face {
    font-family: 'hoves';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/TTHovesBold.otf) format('opentype');
  }
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; /* Ensures the header stays on top of other content */
  }
#m_nav_sc header{ padding: 0 10px; margin: 0;}
#m_nav_sc header button {width: 30px; outline: none;}

